* {
  box-sizing: border-box;
}
* body {
  margin: 0;
  padding: 0;
}
* body main {
  background-image: url("../images/rain-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
* body main .container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
* body main .container .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
* body main .container .search {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px #2e2d2d;
}
* body main .container .search h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}
* body main .container .search h1::after {
  content: url(../images/Line1.png);
  display: block;
  margin: 20px 0 20px 0;
}
* body main .container .search .search-wrapper {
  position: relative;
}
* body main .container .search .search-wrapper .search-bar {
  width: 30rem;
  margin: 25px;
  padding: 20px;
  background-color: rgba(48, 47, 47, 0.815);
  border: none;
  border-radius: 9px;
  outline: none;
  color: white;
  font-size: 24px;
}
* body main .container .search .search-wrapper .search-bar::placeholder {
  letter-spacing: 1px;
  opacity: 1;
}
* body main .container .search .search-wrapper .search-icon {
  position: absolute;
  top: 1.7rem;
  width: 70px;
  height: 70px;
  background-color: rgba(48, 47, 47, 0.815);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
* body main .container .search-open {
  position: absolute;
  left: 12rem;
  transition: right 2s;
}
* body main .container .search-open .search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
* body main .container .weather-container {
  position: fixed;
  right: -436px;
  transition: right 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
* body main .container .container-open {
  display: block;
  position: fixed;
  right: 0;
  width: 436px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}
* body main .container .container-open .city {
  width: 21rem;
  height: 3.75rem;
  margin: 2.313rem auto;
  padding: 1.4rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #757c80;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5%;
}
* body main .container .container-open .city::before {
  content: url(../images/location.png);
  position: absolute;
  left: 5rem;
}
* body main .container .container-open .today {
  font-size: 45px;
  margin: 15px;
  font-weight: 500;
}
* body main .container .container-open .today-info {
  display: flex;
  width: 24.75rem;
  height: 16rem;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}
* body main .container .container-open .today-info .info-left {
  width: 60%;
}
* body main .container .container-open .today-info .info-left .temperature {
  font-size: 55px;
  margin: 0;
}
* body main .container .container-open .today-info .info-left .description {
  font-weight: 300;
  font-size: 29px;
  text-transform: capitalize;
}
* body main .container .container-open .today-info .info-left .data {
  font-weight: 400;
  font-size: 14px;
  color: #62696d;
  margin: 30px 0;
}
* body main .container .container-open .today-info .info-right {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: #62696D;
  font-weight: 400;
  letter-spacing: -0.005em;
  font-size: 14px;
  line-height: 40px;
  padding: 5px;
  width: 40%;
}
* body main .container .container-open .today-info .info-right::before {
  content: url(../images/vertical-line.png);
  position: absolute;
  left: -6px;
  top: 3%;
}

/*# sourceMappingURL=style.css.map */
