* {
    box-sizing: border-box;

    body {
        margin: 0;
        padding: 0;

        main {
            background-image: url('../images/rain-min.jpg');
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;

            

            .container {
                height: 100vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Roboto', sans-serif;

               
                
                
                
                .logo {
                    position: absolute;
                    top: 10px;
                    left: 10px;

                   
                }

                @media screen and (max-width: 480px) {
                    .logo {
                      width: 150px;
                    }
                }

                .search {
                    color: #fff;
                    text-align: center;
                    text-shadow: 2px 2px 2px #2e2d2d;                    

                    h1 {
                        font-weight: 700;
                        font-size: 60px;
                        margin: 0;

                        &::after{
                            content: url(../images/Line1.png);
                            display: block;
                            margin: 20px 0 20px 0;
                        
                        }
                    }

                    @media screen and (max-width: 480px) {
                        h1 {
                          margin: 15rem 0 0 0;
                          font-size: 40px;
                          padding: 30px;
                        }
                    }

                    .search-wrapper {
                        position: relative;                                                                   


                        .search-bar {
                            width: 30rem;
                            margin: 25px;
                            padding: 20px;
                            background-color: rgba(48, 47, 47, 0.815);
                            border: none;
                            border-radius: 9px;
                            outline: none; 
                            color: rgb(255, 255, 255);
                            font-size: 24px;
                            
                            &::placeholder {
                                letter-spacing: 1px;
                                opacity: 1; 
                            }    
                        }

                        @media screen and (max-width: 480px) {
                            .search-bar {
                              
                              
                              
                              width: 20rem;
                              margin: 15px;
                              padding: 13px;
                              font-size: 20px;
                            }
                        }
    
                        .search-icon {
                            position: absolute;
                            top: 1.7rem;
                            width: 70px;
                            height: 70px;
                            background-color: rgba(48, 47, 47, 0.815);
                            border: none;
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        @media screen and (max-width: 480px) {
                            .search-icon {
                              width: 50px;
                              height: 50px;
                              padding: 5px;
                              top: 0.9rem;
                              right: 18px;                             
                            }
                        }

                        
                    }
    
                    
                }

                .search-open {
                    position: absolute;
                    left: 12rem;
                    transition: right 2s;
                    

                    .search-icon {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    } 
                }

                @media screen and (max-width: 480px) {
                    .search-open {
                        position: absolute;
                        left: 0;
                        
                    }
                }

                    

                .weather-container {
                    position: fixed;
                    right: -436px;
                    transition: right 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                

               

                .container-open {
                    display: block;
                    position: fixed;
                    right: 0;
                    width: 436px;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.726);
                    border-radius: 10px;
                    
                    

                    .city { 
                        width: 20rem;
                        height: 3rem;
                        margin: 1.5rem auto;
                        padding: 1rem;
                        background: #ffffff;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        color: rgba(117, 124, 128, 1);
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                        letter-spacing: -0.5%;
                        
                        &::before {
                            content: url(../images/location.png);
                            position: absolute;
                            left: 5rem;
                        }
                    }

                    @media screen and (max-width: 480px) {
                        .city{
                        margin: 10px 0 0 15px;

                        &::before {
                            content: url(../images/location.png);
                            position: absolute;
                            left: 2rem;
                        }
                        }
                    }

                    .close {
                        position: absolute;
                        right: 15px;
                        top: 22px;
                        width: 36px;
                        height: 36px;
                        opacity: 0.3;
                      }
                      .close:hover {
                        opacity: 1;
                      }
                      .close:before, .close:after {
                        position: absolute;
                        left: 15px;
                        content: ' ';
                        height: 33px;
                        width: 2px;
                        background-color: #333;
                      }
                      .close:before {
                        transform: rotate(45deg);
                      }
                      .close:after {
                        transform: rotate(-45deg);
                      }
                      

                    .today {
                        font-size: 40px;
                        margin: 15px;
                        font-weight: 500;
                    }

                    .today-info {
                        display: flex;
                        width: 25.4rem;
                        height: 15rem;
                        margin: 15px;
                        background: #ffffff;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        padding: 10px;

                        .info-left {
                            width: 60%;

                            .temperature {
                                font-size: 50px;
                                margin: 0;
                            }
                            
                            .description {
                                font-weight: 300;
                                font-size: 25px;
                                text-transform: capitalize;
                            }
                            
                            .data {
                                font-weight: 400;
                                font-size: 14px;
                                color: rgba(98, 105, 109, 1);
                                margin: 30px 0;
                            }
                        }

                        .info-right {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            justify-content: center;
                            color: #62696D;
                            font-weight: 400;
                            letter-spacing: -0.005em;
                            font-size: 14px;
                            line-height: 40px;
                            padding: 5px;
                            width: 40%;

                            &::before {
                                content: url(../images/vertical-line.png);
                                position: absolute;
                                left: -8px;
                                top: -2px;
                            }
                        }
                    }

                    .daily {
                        font-size: 35px;
                        margin: 15px;
                        font-weight: 500;
                    }

                    .daily-info {
                        display: flex;
                        margin: 10px;
                        position: relative;

                        .daily-box {
                            width: 129px;
                            height: 124px;
                            background-color: #ffffff;
                            margin: 5px;
                            padding: 5px;
                            border-radius: 10px;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                            

                            .temp {
                                font-weight: 500;
                                font-size: 30px;
                                margin: 5px 0;
                            }

                            .desc {
                                font-weight: 400;
                                text-transform: capitalize;
                                font-size: 10px;
                                margin: 0 2px 0 2px;
                            }

                            .icon-weather1 {
                                position: absolute;
                                top: 2.3rem;
                                left: 5.5rem;
                            }

                            .icon-weather2 {
                                position: absolute;
                                top: 2.3rem;
                                left: 14.2rem;
                            }

                            .icon-weather3 {
                                position: absolute;
                                top: 2.3rem;
                                left: 22.8rem;
                            }

                            .date {
                                font-weight: 300;
                                font-size: 10px;
                                color: rgba(98, 105, 109, 1);
                                margin: 10px 1px 2px 1px;
                                padding: 10px 0;
                            }
                        }
                    }

                    
                }

                @media screen and (max-width: 480px) {
                    .container-open{
                    width: 471px;
                    }
                }


                
            }

            @media screen and (max-width: 480px) {
                .container{
                align-items: flex-start;
                }
            }

            
        }
    }
}




