* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  margin: 0;
  padding: 0;
}

* body main {
  background-image: url("../images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* body main .container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
}

* body main .container .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 480px) {
  * body main .container .logo {
    width: 150px;
  }
}

* body main .container .search {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #020202;
}

* body main .container .search h1 {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}

* body main .container .search h1::after {
  content: url(../images/Line1.png);
  display: block;
  margin: 20px 0 20px 0;
}

@media screen and (max-width: 480px) {
  * body main .container .search h1 {
    font-size: 40px;
    padding: 30px;
  }
}

* body main .container .search .search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main .container .search .search-wrapper .search-bar {
  width: 30rem;
  margin: 0;
  padding: 20px;
  background-color: rgba(48, 47, 47, 0.815);
  border: none;
  border-radius: 50px;
  outline: none;
  color: white;
  font-size: 24px;
}

* body main .container .search .search-wrapper .search-bar::-webkit-input-placeholder {
  letter-spacing: 1px;
  opacity: 1;
}

* body main .container .search .search-wrapper .search-bar:-ms-input-placeholder {
  letter-spacing: 1px;
  opacity: 1;
}

* body main .container .search .search-wrapper .search-bar::-ms-input-placeholder {
  letter-spacing: 1px;
  opacity: 1;
}

* body main .container .search .search-wrapper .search-bar::placeholder {
  letter-spacing: 1px;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  * body main .container .search .search-wrapper .search-bar {
    width: 15rem;
    padding: 13px;
    font-size: 20px;
  }
}

* body main .container .search .search-wrapper .search-icon {
  width: 70px;
  height: 70px;
  background-color: rgba(48, 47, 47, 0.815);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 10px;
}

* body main .container .search .search-wrapper .search-icon:hover {
  background-color: rgba(0, 0, 0, 0.473);
}

@media screen and (max-width: 480px) {
  * body main .container .search .search-wrapper .search-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  * body main .container .search {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

* body main .container .search-open {
  position: absolute;
  left: 12rem;
  -webkit-transition: right 2s;
  transition: right 2s;
}

* body main .container .search-open .search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  * body main .container .search-open {
    position: absolute;
    left: 0;
  }
}

* body main .container .weather-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

* body main .container .weather-container .city {
  width: 20rem;
  height: 3rem;
  margin: 1.5rem auto;
  padding: 15px 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #757c80;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body main .container .weather-container .city::before {
  content: url(../images/location.png);
  margin: 0 10px;
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container .city {
    width: 17rem;
    margin: 10px 0 0 20px;
  }
}

* body main .container .weather-container .close {
  display: none;
  position: absolute;
  right: 20px;
  top: 18px;
  width: 36px;
  height: 36px;
  opacity: 0.3;
}

* body main .container .weather-container .close:hover {
  opacity: 1;
}

* body main .container .weather-container .close::before, * body main .container .weather-container .close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgba(48, 47, 47, 0.815);
}

* body main .container .weather-container .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

* body main .container .weather-container .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container .close {
    display: block;
  }
}

* body main .container .weather-container .today {
  font-size: 40px;
  margin: 20px;
  font-weight: 500;
}

* body main .container .weather-container .today-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25.4rem;
  height: 15.5rem;
  margin: 20px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px rgba(48, 47, 47, 0.815);
          box-shadow: 0px 0px 5px rgba(48, 47, 47, 0.815);
  border-radius: 10px;
  padding: 10px;
}

* body main .container .weather-container .today-info .info-left .temperature {
  font-size: 50px;
  margin: 0;
}

* body main .container .weather-container .today-info .info-left .description {
  font-weight: 300;
  font-size: 25px;
  text-transform: capitalize;
}

* body main .container .weather-container .today-info .info-left .data {
  font-weight: 400;
  font-size: 14px;
  color: rgba(48, 47, 47, 0.815);
  margin: 30px 0;
}

* body main .container .weather-container .today-info .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(48, 47, 47, 0.815);
  font-weight: 400;
  letter-spacing: -0.005em;
  font-size: 14px;
  line-height: 40px;
  padding: 5px;
  width: 40%;
  margin: 10px 0 0 40px;
}

* body main .container .weather-container .today-info .info-right::before {
  content: url("../images/vertical-line.png");
  position: absolute;
  top: -8px;
  left: -5px;
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container .today-info .info-right {
    width: 13rem;
    margin: 0 auto;
    height: 20rem;
  }
  * body main .container .weather-container .today-info .info-right::before {
    content: url("../images/vertical-line.png");
    position: absolute;
    top: 4px;
  }
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container .today-info {
    width: 20rem;
    margin: 0 auto;
    height: 16rem;
  }
}

* body main .container .weather-container .daily {
  font-size: 35px;
  margin: 20px;
  font-weight: 500;
}

* body main .container .weather-container .daily-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  position: relative;
}

* body main .container .weather-container .daily-info .daily-box {
  width: 140px;
  height: 130px;
  background-color: white;
  margin: 0 8px 0 0;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

* body main .container .weather-container .daily-info .daily-box:last-of-type {
  margin: 0;
}

* body main .container .weather-container .daily-info .daily-box .temp {
  font-weight: 500;
  font-size: 30px;
  margin: 5px 0;
}

* body main .container .weather-container .daily-info .daily-box .desc {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 10px;
  margin: 0 2px 0 2px;
}

* body main .container .weather-container .daily-info .daily-box .icon-weather {
  position: absolute;
  top: 2rem;
  right: 0.1rem;
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container .daily-info .daily-box .icon-weather {
    width: 25px;
    top: 2.8rem;
  }
}

* body main .container .weather-container .daily-info .daily-box .date {
  font-weight: 300;
  font-size: 10px;
  color: #62696d;
  margin: 10px 1px 2px 1px;
  padding: 10px 0;
}

@media screen and (max-width: 480px) {
  * body main .container .weather-container {
    width: 375px;
    height: 100%;
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: -webkit-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  }
}

* body main .container .container-open {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

@media screen and (max-width: 480px) {
  * body main .container .container-open {
    width: 375px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: -webkit-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  }
}

* body main .container .container-closed {
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

@media screen and (max-width: 480px) {
  * body main .container .container-closed {
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: -webkit-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  * body main {
    background-position: left;
  }
}
/*# sourceMappingURL=main.css.map */