* {
    box-sizing: border-box;

    body {
        margin: 0;
        padding: 0;

        main {
            background-image: url('../images/rain-min.png');
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;

            .container {
                height: 100vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                background-color: rgba(0, 0, 0, 0.459);
                position: relative;
                
                .logo {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                .search {
                    color: #fff;
                    text-align: center;

                    h1 {
                        font-weight: 700;
                        font-size: 60px;
                        margin: 0;

                        &::after{
                            content: url(../images/Line1.png);
                            display: block;
                            margin: 20px 0 20px 0;
                        }
                    }

                    .search-bar {
                        width: 35rem;
                        margin: 25px;
                        padding: 20px;
                        background-color: rgba(255, 255, 255, 29%);
                        border: none;
                        border-radius: 9px;
                        outline: none; 
                        color: #fff;
                        font-size: 24px;
                        
                        &::placeholder {
                            letter-spacing: 1px;    
                        }
                    }
                }

                .weather-container {
                    position: absolute;
                    right: 0;
                    width: 436px;
                    height: 100vh;
                    background-color: rgba(255, 255, 255, 0.75);
                    border-radius: 10px;

                    .city { 
                        width: 21rem;
                        height: 3.75rem;
                        margin: 2.313rem auto;
                        padding: 1.4rem;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        color: rgba(117, 124, 128, 1);
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                        letter-spacing: -0.5%;
                        
                        &::before {
                            content: url(../images/location.png);
                            position: absolute;
                            left: 5rem;
                        }
                    }

                    .today {
                        font-size: 45px;
                        margin: 15px;
                        font-weight: 500;
                    }

                    .today-info {
                        display: flex;
                        width: 24.75rem;
                        height: 16rem;
                        margin: auto;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        padding: 10px;

                        .info-left {
                            width: 60%;

                            .temperature {
                                font-size: 55px;
                                margin: 0;
                            }
                            
                            .description {
                                font-weight: 300;
                                font-size: 29px;
                                text-transform: capitalize;
                            }
                            
                            .data {
                                font-weight: 400;
                                font-size: 14px;
                                color: rgba(98, 105, 109, 1);
                                margin: 30px 0;
                            }
                        }

                        .info-right {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            justify-content: center;
                            color: #62696D;
                            font-weight: 400;
                            letter-spacing: -0.005em;
                            font-size: 14px;
                            line-height: 40px;
                            padding: 5px;
                            width: 40%;

                            &::before {
                                content: url(../images/vertical-line.png);
                                position: absolute;
                                left: -6px;
                                top: 3%;
                            }
                        }
                    }

                    .daily-section {
                        display: flex;
                        margin: 10px;

                        .second {
                            width: 129px;
                            height: 124px;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;
                            margin: 10px;
                        }
                        
                        .third {
                            width: 129px;
                            height: 124px;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;
                            margin: 10px;
                        }
                        
                        .fourth {
                            width: 129px;
                            height: 124px;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}

/*.search-icon {
    position: relative;
    bottom: -0.5rem;
    left: -6rem;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}*/




