* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url('rain-min.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.363);
    
    font-size: 120%;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.search {
    color: #fff;
}



.search h1 {
    font-weight: 700;
    font-size: 60px;
}
.search h1::after{
    content: url(Line1.png);
    display: block;
}

